.preload {
    position: relative;
    min-height: 100px;
}

.preload::after {
    content: '';
    position: absolute;
    width: 56px;
    height: 56px;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    border: 11px double #f6f3e3;
    border-radius: 50%;
    border-left-style: solid;
    animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}